<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    
    <div id="app" class="container-fluid pt-5 text-center">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="card-fluid mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-6">
                <img :src="image" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <p class="card-title display-3">{{ product }}</p>
                  <div class="data">
                    <img class="option-img" src="assets/images/blue.png" alt=""><br>
                    <img class="option-img" src="assets/images/green.png" alt="">
                    <p class="display-5"></p>
                  </div>
                  <p v-if="availability" class="card-text"><small class="text-muted">In stock</small></p>
                  <p v-else class="card-text"><small class="text-muted">Out of stock</small></p>
                  <div>
                    <button @click="item_no++" type="button" class="btn btn-outline-success mb-3">Add to cart</button>
                  </div>
                  <div>
                    <button v-if="item_no >= 1" @click="item_no--" type="button" class="btn btn-outline-danger">Remove from cart</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <p>Cart( {{ item_no }} )</p>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Import Js -->
    <script src="./main.js"></script>
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>
